:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Outfit, sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-slate-300);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  background-color: var(--color-white);
  width: 32rem;
  /* height: 49.9rem; */
  margin: auto;
  padding: 1.6rem 1.6rem 4rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
  box-shadow: 0px 25px 25px 0px hsl(0, 0%, 0%, 0.0477);
}

img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: contain;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-inline: 1.6rem;
}

h1 {
  color: var(--color-slate-900);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 120%;
}

p {
  color: var(--color-slate-500);
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
